// custom
$main-color:#538fcd;
$link-color-hover:#c668b9;

// basic
$black: #000000;
$white: #FFFFFF;

// text
$text-black: #000;
$text-darker: #2b2b2b;
$text-dark: #4a4a4a;
$text-light: #6a6a6a;


// colors 
// ref:https://ant.design/docs/spec/colors
// lighter: 1
// light: 3
// main: 5
// dark: 7
// darker: 9

// gray: 2 4 6 8 10
$gray-lighter: #fafafa;
$gray-light: #f0f0f0;
$gray: #bfbfbf;
$gray-dark: #595959;
$gray-darker: #262626;

// red
$red-lighter:#fff1f0;
$red-light:#ffa39e;
$red:#ff4d4f;
$red-dark:#cf1322;
$red-darker:#820014;

// yellow
$yellow-lighter:#fffbe6;
$yellow-light:#ffe58f;
$yellow:#ffc53d;
$yellow-dark:#d48806;
$yellow-darker:#874d00;

// green
$green-lighter:#f6ffed;
$green-light:#b7eb8f;
$green:#73d13d;
$green-dark:#389e0d;
$green-darker:#135200;

// blue
$blue-lighter:#e6f4ff;
$blue-light:#91caff;
$blue:#4096ff;
$blue-dark:#0958d9;
$blue-darker:#002c8c;

// purple
$purple-lighter:#f9f0ff;
$purple-light:#d3adf7;
$purple:#9254de;
$purple-dark:#531dab;
$purple-darker:#22075e;