// body

// import _variables
@use 'variables' as var;

.has-background-light-line{
    background-image: repeating-linear-gradient(45deg, #f7f7f7, #f7f7f7 2px, #eee 2px, #eee 3px);
}
.bg-cover-center{
    background-size: cover;
    background-position: center center;
}
.has-dark-modal{
    background-color: rgba(0,0,0,.4);
}
.has-darker-modal{
    background-color: rgba(0,0,0,.6);
}
.link-block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.bg-grad-b{
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%)
}
.bg-light-grad{
    background: linear-gradient(180deg, #ffffff 70%,#f7f9ff 100%);
}
