/* ====================== template: Tag Archive ====================== 2019.04.14 */

// import _variables
@use 'variables' as var;

.card-wrap {
	margin-bottom: 30px;
}
.tag-card {
	height: 100%;
    background-color: #fff;
    border-radius: 8px;
	box-shadow: 0 20px 40px rgba(12, 12, 94, .1);
	overflow: hidden;
}
.tag-card.no-image {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.tag-card.no-image .tag-info {
	width: 100%}
	.tag-card .tag-image {
		/* height: 144px; */
		height: calc(90px + 3vw);
		border-radius: 8px 8px 0 0;
		background-size: cover;
		background-position: center center;
		box-shadow: 0px 1px 0px #ddd;
		background-color: #e9f0f3;
	}
	.tag-card .tag-image.noimg{
		background-color:#e9f0f3;
	}
	.tag-card .tag-image .mask{
		height:100%;
		widows: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}
	.tag-card:hover .tag-image .mask{
		background-color: transparent;
	}
	.tag-card .tag-info {
		padding: 16px;
		vertical-align: middle;
	}
	.tag-card .tag-info .tag-name {
		margin-bottom: .5rem;
		font-size: 1.5rem;
		font-weight: 600;
	}
	.tag-card .tag-info .tag-name {
		text-transform: capitalize;
		color: #222;
		transition: all .25s;
	}
	.tag-card:hover .tag-info .tag-name {
		color: #fb3c3b;
	}
	.tag-card .tag-info .post-count {
		color: #222;
	}
	.tag-list-header .title span{
		padding:0.5rem 1.5rem;
	}
// .tag-archive-title{
// 	font-size: 2.5rem !important;
// 	font-weight: 600;
// }
.tag-archive-item{
	padding: 1rem !important;
}