---js
{
  deprecated_currentYear: function() {
    return (new Date()).getFullYear();
  }
}
---
<!DOCTYPE html>
<html lang="en" class="has-spaced-navbar-fixed-top">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="True" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    {# title #}
    <title>
    {% if code %}{{code}}&nbsp;-&nbsp;{% endif %} {# error page #}
    {% if seoTitle and page.url != '/search/'%}{{ seoTitle }} {# page's seoTile, e.g. topic page #}
      {% elif title and page.url != '/search/' %}{{title}} {# file title, e.g. post.md,page.md > title #}
      {% elif name and page.url != '/search/'%}{{ name }} {# file name, e.g. topic.md,author.md > name #}
      {% elif settings.meta.name and page.url != '/search/'%}{{settings.meta.name}} {# setting > site name #}
    {% endif %}
    {% if (page.url != '/' and page.url | substring(0,5) != '/page') and settings.seo.title %} - {{settings.seo.title}}{% endif %} {# append seo.title to pages except homepage #}
    </title>
    
    {# description #}
    <meta name="description" content="{% if description %}{{description}}{% elif settings.meta.description %}{{settings.meta.description}}{% endif%}"/>

    {# keywords #}
    {% if settings.seo.keywords %}<meta name="keywords" content="{{settings.seo.keywords}}"/>{% endif%}

    {% block head %}{% endblock %}

    {# icon #}
    {% if settings.meta.icon %}<link rel="icon" href="{{ settings.meta.icon }}" />{% elif title %}<link rel="icon" href="/favicon.ico" />{% endif %}

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>

    {% if prism == true %}
      {# <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css"> #}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-line-numbers.css">
      <link rel="stylesheet" type="text/css" href="/static/css/prism.css">
    {% endif %}

    {% if katex == true %}
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.css">
      <script defer src="/static/js/katex.min.js"></script>
      <script defer src="/static/js/auto-render.min.js" crossorigin="anonymous"></script>
    {% endif %}

  </head>
  <body class="has-background-light">
    
    {% if header != false %}
      {% include "../partials/header.njk" %}
    {% endif %}

    {{ content | safe }}

    {% if footer != false %}
      {% include "../partials/footer.njk" %}
    {% endif %}

    <script src="/static/js/footer.js"></script>
    {# <script src="/static/js/alpine.js"></script> #}

    {# search #}

    {% if toc == true %}
      <script src="/static/js/toc.js"></script>
      <script>
        const toc = new fizzyToc({
          contentEl: 'content',
          tocEl: 'toc',
          linkClass: 'toc-item',
          linkActiveClass: 'active',
          selector: ['h2', 'h3'],
          supplyTop: 104,
          comments: {{ comments }},
          commentsText: "Comments",
          active: function (el) {
          }
        });
      </script>
    {% endif %}
    
    {% if prism == true %}
      <script src="/static/js/prism-line-numbers.min.js"></script>
      <script defer src="/static/js/prism.js"></script>
    {% endif %}

    {% if katex == true %}
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body,{delimiters: [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false},
              {left: "\\(", right: "\\)", display: false},
              {left: "\\[", right: "\\]", display: true}
          ]});
        });
      </script>
    {% endif %}

    {% if path == "/" %}
      <!-- Netlify Identity Widget: Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    <!-- faster page-loading -->
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>

  </body>
</html>