---
title: Fizzy
layout: default
---
{# showcase #}

{# post list #}
<main class="section">
    <div class="columns">
      <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
      <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
          {% include "../partials/loop-post.njk" %}
      </div>
      <div class="column is-hidden-touch"></div>
    </div>
</main>