---
layout: default
title: Tag List
---
{# Title & Content #}
<section class="section is-paddingless-bottom">
  <div class="container">
      <h1 class="title has-text-centered"><i class="iconfont icon-tags"></i> {{ title }} </h1>
      <div class="content has-text-centered post-content is-size-6-mobile">
        {{ content | safe }}
      </div>
  </div>
</section>

{# Tag Cards #}
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      {% include "../partials/loop-tag.njk" %}
    </div>
  </div>
</section>