---
layout: default
title: Author List
---
{# Title & Content #}
<main class="section is-paddingless-bottom">
  <div class="container">
      <h1 class="title has-text-centered"><i class="iconfont icon-authors"></i> {{ title }} </h1>
      <div class="content has-text-centered post-content is-size-6-mobile">
        {{ content | safe }}
      </div>
  </div>
</main>

{# Author Cards #}
<main class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      {% include "../partials/loop-author.njk" %}
    </div>
  </div>
</main>