---
permalink: "/index.json"
layout: dump
---
{# pre-work #}  
{# store author[name,slug,avatar] into variable site_authors #}
{% set site_authors = [] %}
{% for author in collections.author %}
    {% set site_authors = (site_authors.push([author.data.name,author.data.slug,author.data.avatar]), site_authors) %}
{% endfor %}
{# store tag[name,slug] into variable site_tags #}
{% set site_tags = [] %}
{% for tag in collections.tag %}
    {% set site_tags = (site_tags.push([tag.data.name,tag.data.slug]), site_tags) %}
{% endfor %}

[{% for post in collections.post %}
    {% set tagList = [] %}
    {% if post.data.tags | length > 0 %}
        {% for name,slug in site_tags %}
            {% if post.data.tags | includes(slug) %}
                {% set tagList = (tagList.push([name,slug]), tagList) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% set authorList = [] %}
    {% if post.data.authors | length > 0 %}
        {% for name,slug in site_authors %}
            {% if post.data.authors | includes(slug) %}
                {% set authorList = (authorList.push([name,slug]), authorList) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {
        "title":"{{post.data.title}}",
        "slug":"{{post.data.slug}}",
        "url":"/post/{{post.data.slug}}/",
        "tags":"{% for name,slug in tagList %}{{name}}{% if loop.last == false %},{% endif %}{% endfor %}",
        "authors":"{% for name,slug in authorList %}{{name}}{% if loop.last == false %},{% endif %}{% endfor %}",
        "description":"{{post.data.description | replace("\n","") | replace("\r","") }}"
    }
    {% if loop.last == false %},{% endif %}
{% endfor %}]