<footer class="footer is-centered" style="padding-bottom:3rem;">
  <div class="content has-text-centered">
      <p class="copyright">© {{currentYear}} <a href="{% if settings.meta.url %}{{settings.meta.url}}{% else %}/{% endif %}"><strong class="has-text-grey-darker">{{settings.meta.name}}</strong></a></p>
      <p class="declare has-text-grey">{% if settings.meta.footerInfo %}{{settings.meta.footerInfo}}{% endif %}</p>
      <p class="declare has-text-grey">Published with <a href="https://github.com/huangyuzhang/Fizzy-Jam/" target="_blank" rel="noopener noreferrer"><strong>Fizzy Jam</strong> v{{pkg.version}}</a></p>
  </div>
</footer>